{% extends 'basic.html'%}
{% block css%}
<style>
    
</style>
{% endblock%}
{% block body%}
<div class="container mt-4" >
<div class="jumbotron shadow-lg" style="color:white;background: linear-gradient(to right, rgb(15, 12, 41), rgb(48, 43, 99), rgb(36, 36, 62)); box-shadow: black -3px 20px 26px -9px;">
    <h1 class="display-4">Hello, V for YOU</h1>
    <p class="lead">This is VKERNEL app, your entertainment and study mix package whick keeps you entertain with knowledge</p>
    <hr class="my-4">
    <p>It contains three subscription pack</p>
    <ul>
        <li>
            BASIC PACK <span class="badge badge-danger">B+</span>
        </li>
        <li>
            PREMIUM PACK <span class="badge badge-danger">P+</span>
        </li>
        <li>
            EMPEROR PACK <span class="badge badge-danger">E+</span>
        </li>
    </ul>
    <a class="btn btn-outline-light btn-lg" href="/vkernel/mainpage/" role="button">Explore</a>
  </div>
</div>
{% endblock%}