{% extends 'basic.html'%}
{% block css%}
<style>

</style>
{% endblock%}
{% block body%}
<div class="container mt-3" style="color: white;">
    <form method="POST" action="/vkernel/login/" class="col-6  offset-3 mt-5">{% csrf_token%}
    <div class="form-group ">
        <label for="name">Name </label>
        <input type="name" name='name' class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter name">
        
      </div>
      <div class="form-group">
        <label for="password1">Enter Password</label>
        <input type="password" name='password' class="form-control" id="password1" placeholder="Password">
      </div><div class="text-center">
      <a class="" style="color: white;" href='#'> forgot password?</a></div>
      <div class="text-center">
      <button type="submit" class="btn btn-outline-light mt-4">SIGN IN</button></div>
    </form></div>
    
{% endblock%}