{% extends 'basic.html'%}
{% block css%}
<style>
   
</style>
{% endblock%}
{% block body%}
<div class="container">
    <div class="display-3"> payment page</div>
    <div class="display-3"> please do no refresh....</div>
    <form method="post" action="https://securegw-stage.paytm.in/order/process" name="paytm">
    {% for key,value in paramdata.items %}
    <input type="hidden" value="{{value}}" name="{{key}}">
    
    {%endfor%}
    
    </form>
</div>
{% endblock%}
{% block script%}
<script>
    document.paytm.submit();
</script>
{% endblock%}