{% extends 'basic.html'%}

{% block css%}
<style>
    *{
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
    }
    img{
        height: 15vh;
    }
</style>
{% endblock%}
{% block body%}

<div class="container">
    <div class="row mt-2 border">
        <img src="" class="col-3" alt="">
        <div class=" row justify-content-start p-4 align-items-center col-9">
            <a href="#" style="font-size: 1.5em;">python</a>
        </div>
    </div>
    <div class="row mt-2 border">
        <img src="" class="col-3" alt="">
        <div class=" row justify-content-start p-4 align-items-center col-9">
            <a href="#" style="font-size: 1.5em;">python</a>
        </div>
    </div>
    <div class="row mt-2 border">
        <img src="" class="col-3" alt="">
        <div class=" row justify-content-start p-4 align-items-center col-9">
            <a href="#" style="font-size: 1.5em;">python</a>
        </div>
    </div>
    <div class="row mt-2 border">
        <img src="" class="col-3" alt="">
        <div class=" row justify-content-start p-4 align-items-center col-9">
            <a href="#" style="font-size: 1.5em;">python</a>
        </div>
    </div>
    <div class="row mt-2 border">
        <img src="" class="col-3" alt="">
        <div class=" row justify-content-start p-4 align-items-center col-9">
            <a href="#" style="font-size: 1.5em;">python</a>
        </div>
    </div>
    <div class="row mt-2 border">
        <img src="" class="col-3" alt="">
        <div class=" row justify-content-start p-4 align-items-center col-9">
            <a href="#" style="font-size: 1.5em;">python</a>
        </div>
    </div>
    <div class="row mt-2 border">
        <img src="" class="col-3" alt="">
        <div class=" row justify-content-start p-4 align-items-center col-9">
            <a href="#" style="font-size: 1.5em;">python</a>
        </div>
    </div>
    <div class="row mt-2 border">
        <img src="" class="col-3" alt="">
        <div class=" row justify-content-start p-4 align-items-center col-9">
            <a href="#" style="font-size: 1.5em;">python</a>
        </div>
    </div>
    <div class="row mt-2 border">
        <img src="" class="col-3" alt="">
        <div class=" row justify-content-start p-4 align-items-center col-9">
            <a href="#" style="font-size: 1.5em;">python</a>
        </div>
    </div>
    <div class="row mt-2 border">
        <img src="" class="col-3" alt="">
        <div class=" row justify-content-start p-4 align-items-center col-9">
            <a href="#" style="font-size: 1.5em;">python</a>
        </div>
    </div>
</div>
{% endblock%}